@model Libellus.Web.Areas.Administracion.Models.Maestros.MaestroViewModel

@{
    ViewBag.Title = "Editar maestro";
}

<div class="content-header">
    <h2 class="content-header-title">@ViewBag.Title</h2>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    Html.RenderPartial("_Administrar");

    <br />

    <div class="form-group centered">
        @Html.BotonCancelar("Consultar", "Maestros", new { pagina = 1, idTipoMaestro = Model.IdTipoMaestro, nombreTipoMaestro = Model.NombreTipoMaestro }, new { tabindex = "4" })
        <input type="submit" value="Editar maestro" class="btn btn-primary" tabindex="3" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}