@{
    ViewBag.Title = "Bienvenida";
}

<div class="row">
    
    <div class="col-md-2"></div>

    <div class="col-md-8">
        <h2>Bienvenidos</h2><br>
        <img src="~/Content/img/libellus_logo.png" width="301" height="77">
        <br><br>
        <p><img src="~/Content/img/libros.png" width="292" height="192" style="float:right">Es un software administrativo de venta masiva correspondiente a un sistema de información web que permite hacer la gestión académica de las Instituciones Educativas oficiales o privadas, mediante el almacenamiento organizado de la información con interfaces gráficas, lo cual lo convierte en un sistema amigable y seguro para un usuario inexperto, desarrollado por ISM Consulting Group. </p>
        <p>Libellus cuenta con una estructura ágil y flexible, adaptable a las necesidades de los diferentes estamentos de la comunidad educativa de una institución oficial o privada, que responde a sus requerimientos e incluye procesos en línea. </p>
    </div>
    
    <div class="col-md-2"></div>

</div>