@{
    ViewBag.Title = "Acceso Inválido";
}
<div id="contenedor-info-acceso-invalido">

    <h2 class="text-danger">Acceso Invalido.</h2>
    <div class="validation-summary-errors alert alert-warning">
        Usted no tiene permisos para acceder a esta p&aacute;gina. Para solicitar acceso por favor contacte al administrador del sistema.
    </div>

</div>